header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  position: relative;
  z-index: 1;
}

header .logo .emoji {
  font-size: 25px;
  margin-right: 10px;
}

header .logo .site-name {
  font-size: 25px;
  font-weight: bold;
  color: #333;
}

.divider {
  border: 0;
  height: 2px;
  background-color: #ccc;
  margin: 0;
  width: 100%;
}

footer {
  text-align: center;
  color: #333;
  font-size: 12px;
  margin-top: 40px;
}
