:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  text-align: center;
  color: #333;
  font-size: 12px;
  margin-top: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

header .logo .emoji {
  font-size: 25px;
  margin-right: 10px;
}

header .logo .site-name {
  font-size: 25px;
  font-weight: bold;
  color: #333;
}
